# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.env

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a temporary
#  directory before injection
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.yaml
.dmypy.env
.mypy_cache.local

# .env
.env
*.env
*.env.*

# Snowflake credentials
profiles.yml
dbt_profiles.yml

# Large files
*.parquet
*.csv
execution_results.csv

# DuckDB
*.duckdb
*.db

# Logs
*.log